name: CPPLinters

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  cpplinter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Python Setup
        uses: actions/setup-python@v3
        with:
          python-version: 3.13

      - name: Install libraries
        run: make python-install-editable

      - name: Install pipx
        run: | 
          sudo apt update
          sudo apt install pipx
          pipx ensurepath
          sudo pipx ensurepath --global
      - name: Install cpplint
        run: pipx install cpplint
      - name: Run cpplint
        run: cpplint --filter=-whitespace/line_length,-whitespace/parens ./src/cpp/fast/*
