name: Run unit tests

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Python Setup
        uses: actions/setup-python@v6
        with:
          python-version: 3.13
          cache: 'pip'
          cache-dependency-path: ./setup.cfg

      - name: Install libraries
        run: make python-install-development

      - name: Run pytest
        run: make pytest
